.wrapper {
  background-color: $noraublue;
  color: white;
  padding: 50px;
  height: calc(100vh - 170px);
  li {
    padding: 100px;
  }
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
